@import '../../base';
.top-bar {
    background-color: var(--themeColor);
    min-height: 40;
    width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 10;
    color: white;
}

.alignment {
    display: inline;
}

.align-div {
    margin: 40px;

}

.float-right {
    float: right;
    cursor: pointer;
}